{% load static %}

<html>
<head>
    <link   rel="stylesheet" TYPE="text/css" href="{% static 'css\bootstrap-4.5.0-dist\css\bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'css\bootstrap-4.5.0-dist\js\jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'css\bootstrap-4.5.0-dist\js\bootstrap.min.js' %}"></script>
    <link   rel="stylesheet" TYPE="text/css" href= "{% static 'css\redirect.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <ul class="navbar-nav">
              <a class="nav-link" href="login">Login</a>
          </ul>
        </nav>
    </div>



        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Julio Cezar Marubayashi</h5>
            <a href="https://www.linkedin.com/in/julio-marubayashi-b3b0a817a/" class="btn btn-primary">Contato</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Marcelo Marques Consalter Filho</h5>
            <a href="https://www.linkedin.com/in/marcelo-consalter-filho-a5a942130/" class="btn btn-primary">Contato</a>
          </div>
         </div>
</body>
</html>